{
  "manifest": {
    "publishingInformation": {
      "locales": {
        "ja-JP": {
          "name": "音程クイズ",
          "summary": "音程聞き分けクイズ",
          "description": "スキルを開始すると2つの音を再生するので、再生終了後その2音の音程（例: メジャーセカンド、長7度 など）を答えてください。その後、スキルが答えた音程の正誤を教えてくれます。",
          "examplePhrases": [
            "アレクサ 音程クイズ を開いて",
            "アレクサ 音程クイズ をスタートして"
          ],
          "keywords": [
            "音程",
            "クイズ",
            "インターバル",
            "音感"
          ],
          "smallIconUri": "",
          "largeIconUri": ""
        }
      },
      "isAvailableWorldwide": false,
      "testingInstructions": "スキルを開始すると2つの音を再生するので、再生終了後その2音の音程（例: メジャーセカンド、長7度 など）を答えてください。その後、スキルが答えた音程の正誤を教えてくれます。",
      "category": "MUSIC_AND_AUDIO_KNOWLEDGE_AND_TRIVIA",
      "distributionCountries": ["JP"]
    },
    "apis": {
      "custom": {
        "endpoint": {
          "sourceDir": "lambda/custom"
        }
      }
    },
    "manifestVersion": "1.0",
    "privacyAndCompliance": {
      "allowsPurchases": false,
      "isExportCompliant": true,
      "containsAds": false,
      "isChildDirected": false,
      "usesPersonalInfo": false
    }
  }
}
