{:dependencies [[cider/cider-nrepl "0.18.0"]]

 :source-paths ["src/dev" "src/main" "src/test"]

 :nrepl        {:port 8230}

 :builds       {:app
                {:target           :node-library
                 :output-to        "index.js"
                 :exports          {:handler app.core/handler}
                 :compiler-options {:optimizations :simple}}

                :test
                {:target    :node-test
                 :ns-regexp "-test$"
                 :output-to "out/node-tests.js"
                 :autorun   true}}}
